# dependencies
node_modules/

# build
dist/
build/

# env files
.env
.env.* 

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# testing
coverage/

# cache
.cache/
